:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  background-color: #E0E7E9;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
}

